@import url("icons.css");


@font-face {
    font-family: "Raleway";
    src: url("Raleway-Regular.ttf");
}

@font-face {
    font-family: "BebasNeue";
    src: url("BebasNeue-Regular.otf");
}

*
{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-weight: normal;
    text-decoration: none;
    font-family: Raleway;
    scrollbar-width: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all .3s ease-out;
}


.w-100
{
    width: 100%!important;
}

.d-flex
{
    display: flex;
}

.d-grid
{
    display: grid;
    grid-template-columns: 1fr .5fr;
    grid-gap: 5rem;
}


// 
.scrollTop
{
    z-index: 1;
    width: 30px;
    height: 35px;
    right: 1.5rem;
    padding: 5px;
    display: none;
    bottom: 1.5rem;
    cursor: pointer;
    position: fixed;
    background: #fff;
    border-radius: 5px;
    align-items: center;
    border: 2px solid #feb101;

    svg
    {
        transform: rotate(180deg);
    }

    &.show
    {
        display: flex;
    }

    &:hover
    {
        color: #feb101;
        background: #000;
    }
}


// 
.h1
{
    margin: 0 auto;
    display: block;
    font-weight: 900;

    &.center
    {
        text-align: center;
    }

    &.after
    {
        &::after
        {
            width: 5%;
            height: .4px;
            content: "";
            padding: 1px;
            display: block;
            border-radius: 10px;
            margin: 0.5rem auto 0;
            background: #feb101;
        }
    }
}



.header-index
{
    z-index: 2;
    display: flex;
    position: fixed;
    padding: 2rem 4rem;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 765px) {
        padding: 0rem 2rem;
    }

    h1
    {
        color: #fff;
        font-size: 2rem;
        // font-family: BebasNeue;
    }

    &.color
    {
        background: #fff;
        padding: 1rem 2rem 1rem;

        @media (max-width: 765px){
            padding: 0rem 2rem 1rem;
        }

        h1
        {
            color: #feb101;
        }

        ul
        {
            li
            {
                &:hover
                {
                    color: #ffb815;
                }

                &:last-child
                {
                    border-color: #feb101;

                    &:hover
                    {
                        color: #fff;
                        background: #feb101;
                    }
                }
            }
        }

        div
        {
            svg
            {
                stroke: #feb101;
            }
        }
    }
    
    .header-ul
    {
        display: block;
    
        @media (max-width: 765px){
            opacity: 0;
            transform: translateX(-100%);
            transition: transform .5s, display .1s ease-out;
        }

        li
        {
            cursor: pointer;
            margin: 0 0 0 1rem;
            display: inline-block;

            &:hover
            {
                color: #fff;
            }

            &:last-child
            {
                padding: 0.5rem 2rem;
                border-radius: 30px;
                border: 1px solid #fff;

                &:hover
                {
                    color: #feb101;
                    background: #fff;
                }
            }
        }
        &.on
        {
            top: 0px;
            left: 0px;
            width: 50%;
            opacity: 1;
            height: 100vh;
            padding: 3rem;
            display: block;
            position: absolute;
            background: #fff;
            transform: translateX(0px);
            transition: transform .5s, opacity .1s ease-out;
            

            li
            {
                display: block;
                margin: 0 0 2rem 0;

                &:last-child
                {
                    display: inline-block;
                    border-color: #feb101;

                    &:hover
                    {
                        color: #fff;
                        background: #feb101;
                    }
                }
            }
        }
    }
    
    .header-button
    {
        top: 2rem;
        z-index: 3;
        left: -.4rem;
        display: none;
        cursor: pointer;
        align-items: center;
        position: relative;
        flex-direction: column;
        justify-content: center;
    
        svg
        {
            top: 0.5rem;
            left: -3px;
            z-index: -1;
            width: 35px;
            height: 100%;
            color: #fff;
            position: relative;
            
            path
            {
                width: 100%;
                height: 100%;
            }
        }
    
        @media (max-width: 765px){
            top: 0rem;
            display: block;
        }
    }
}



aside.container
{
    height: 100vh;
    position: relative;
    align-items: center;
    padding: 4rem 4rem 1rem;
    justify-content: space-between;

    &::before
    {
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: -1;
        content: "";
        position: absolute;
        background: #ffb815;
    }

    


    @media(max-width: 765px) {
        grid-gap: 2rem;
        margin-block-end: 5rem;
        grid-template-columns: 1fr;
        padding: 4rem 2rem!important;

        &::before
        {
            left: 0px;
            height: 60%;
        }
    }

    @media (max-width: 565px) {
        padding: 8rem 2rem 2rem;
    }

    .legenda
    {
        width: 550px;
        padding: 2rem 0;

        @media(max-width: 765px)
        {
            text-align: center;
            width: unset!important;
        }

        h1
        {
            font-size: 3rem;
        }
        p
        {
            line-height: 1.4rem;
        }
        a
        {
            padding: 1rem;
            color: #000;
            font-weight: 900;
            border-radius: 5px;
            display: inline-block;
            margin-block-start: 2rem;
            outline: 2px solid #feb101;

            &:hover
            {
                color: #fff;
                background: #feb101;
            }
        }
    }
    .img
    {
        right: 2rem;
        height: 400px;
        padding: 0rem;
        position: relative;

        @media (max-width: 765px) {
           right: unset;
           height: unset;
        }

        img
        {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}


// 
.section-empresa
{
    display: block;
    padding: 8rem 4rem 2rem;


    @media (max-width: 765px)
    {
        padding: 8rem 2rem 2rem;
    }

    div.descricao
    {
        columns: 2;
        column-gap: 2rem;
        padding: 3rem 0 0;
        text-align: justify;
        line-height: 1.6rem;

        @media (max-width: 765px)
        {
            columns: 1;

            p
            {
                margin: 0 0 1rem;
            }
        }
    }
}

// 
.section-sobre
{
    display: block;
    padding: 8rem 4rem 2rem;

    @media (max-width: 765px) {
        padding: 4rem 2rem 0px;
    }
    
    
    .section-sobre-lista
    {
        display: grid;  
        padding: 2rem 0px;
        grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
        grid-gap: .8rem 1.5rem;

        @media (max-width: 765px) {
            padding: 4rem 0rem!important;
            grid-template-columns: 1fr;
        }
        
        li
        {
            border-radius: 5px;
            padding: 1rem 1.2rem;
            cursor: context-menu;
            border: 1px solid #9999;

            &:hover, &.active
            {
                background: #feb101;
                border-color: transparent;

                h3
                {
                    color: #333;
                }
            }
            &.active
            {
                h3
                {
                    color: #000;
                    font-size: 1.3rem;
                }
            }

            h3
            {
                color: #feb101;
                font-weight: 900;
                font-size: 1.2rem;
                padding: 0 0 0.5rem;
            }
            p
            {
                font-size: 11.5pt;
                line-height: 1.5rem;
                text-align: justify;
            }

            @media (max-width: 465px)
            {
                border: none;
                text-align: center;

                p
                {
                    text-align: center;
                }
            }
        }
    }
}

// 
.section-servicos
{
    display: block;
    overflow: hidden;
    padding: 7rem 4rem 3rem;

    @media (max-width: 765px) {
        padding: 7rem 2rem 2rem;
    }
    
    .section-servicos-lista
    {
        display: grid;  
        padding: 2rem 0px;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        grid-gap: .8rem;

        @media (max-width: 765px) {
            padding: 4rem 0rem!important;
            grid-template-columns: 1fr;
        }
        
        li
        {
            padding: 0px;
            height: 230px;
            padding: 1rem 0;
            text-align: right;
            position: relative;
            // border-radius: 5px;
            cursor: context-menu;
            height: max-content;
            transform: translateX(-300px);
            border-right: 1px solid #9999;
            transition: transform .5s ease-out;

            h1
            {
                padding: 0px;
                font-weight: 900;
                font-size: 1.2rem;
            }
            p
            {
                font-size: 11.5pt;
                text-align: justify;
                line-height: 1.5rem;

                @media (max-width: 940px) {
                    text-align: right;
                    text-align: unset;
                }
            }
         
            &:nth-child(even)
            {
                top: 3rem;
                border: none;
                text-align: right;
                transform: translateX(300px);

                h1
                {
                    text-align: left;
                    padding: 0px;
                }
                p
                {
                    text-align: right;

                    @media (max-width: 940px){
                        text-align: left;
                    }
                }


                @media (max-width: 952px) {
                    top: unset;
                }
            }
            &.observe
            {
                transform: translateX(0px);
                transition: transform .5s ease-out;
            }
            @media (max-width: 940px) {
                border: none;
                border-bottom: 1px solid #9999;
            }
        }
    }
}


// 
.section-eventos
{
    display: grid;
    overflow: hidden;
    padding: 8rem 4rem 3rem;
    margin-block-start: 3rem;

    grid-template-columns: .6fr 1fr;
    grid-gap: 3rem;

    @media (max-width: 765px) {
        grid-gap: 2rem;
        padding: 8rem 2rem 2rem;
    }

    @media (max-width: 565px) {
        grid-template-columns: 1fr;
    }
    .eventoLegenda
    {
        height: 400px;
        display: flex;
        padding: 1rem 3rem;
        background: #ffb815;
        flex-direction: column;
        justify-content: center;
        border-top: 3px solid #000;

        @media (max-width: 565px) {
            margin-block-end: 2rem;
        }

        h1
        {
            margin: 0px;
            font-weight: bold;
            font-size: 2.5rem;
            padding: 0 0 .5rem;
        }
        p
        {
            color: #fff;
            font-size: 1.1rem;
        }

        
    }
    
    .section-eventos-lista
    {
        
        li
        {
            // height: 230px;
            position: relative;
            padding: 0px 0 2rem 1rem;
            border-left: 1px solid #9999;
            // transform: translateX(100%);
            // transition: transform .5s ease-out;
            
            

            h2
            {
                color: #333;
                font-weight: 900;
                font-size: 1.2rem;
                padding: 0 0 0.3rem;
            }
            p
            {
                font-size: 11.5pt;
                text-align: justify;
                line-height: 1.5rem;
            }
            span
            {
                top: -5px;
                // right: 1rem;
                font-size: 1rem;
                font-weight: 400;
                position: relative;
                font-family: BebasNeue;
            }

            &::before
            {
                top: 0px;
                width: 5px;
                height: 5px;
                left: -.4rem;
                content: "";
                padding: 3px;
                display: inline;
                position: absolute;
                border-radius: 50%;
                background: #feb101;
            }
            &:last-child
            {
                border-left: none;
                padding: 0px 0 0 1rem;
            }

            &.on
            {
                // transform: translateX(0px);
            }
        }

    }
}



.footer-index
{
    clear: both;
    margin: 2rem 0 0;
    background: #333;
    padding: 1.5rem 4rem;

    .header-footer
    {
        padding: 1rem;
    }

    span.copy
    {
        color: #fff;
        font-size: 12pt;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
}

.line
{
    position: relative;


    &::before, &::after
    {
        top: 1rem;
        width: 55vw;
        float: right;
        content: "";
        position: relative;
        display: inline-block;
        border-bottom: 2px solid #ccc;
    }

    &::after
    {
        right: 0px;
        width: 15vw;
        float: right;
        position: absolute;
        border-bottom-color: #feb101;
    }
}